.header-molly {
    background-image: url(../../../assets/images/home9.jpg);
    background-position: center;
    background-size: cover;
}

.header-uno {
    background-image: url(../../../assets/images/home8.jpg);
    background-position: center;
    background-size: cover;
}