<nav class="subnav navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">TLF | American Miniature Horses</a>
    </div>
</nav>

<div class="container pb-5">
    <h3>Welcome to Turra Lodge Farm</h3>
    <p>
        Turra Lodge Farm is a family owned and operated American miniature horse breeding program located in the south
        east of Ireland.
        The Kelly Family have owned and bred miniature horses since 2005.
        The farm is home to a small group of AMHA and AMHR registered miniature horses, some of which are also
        registered with the ASPC or the BMHS.
        Each Spring brings the arrival of new foals. Our hope is that these individuals will become successful halter
        horses before contributing to our breeding program.
        Since the farm's inception we have enjoyed presenting our horses in Ireland, the United Kingdom and Europe.
    </p>

    <app-featured></app-featured>

    <div class="d-grid">
        <button class="btn block bg-color-dark" type="button" [routerLink]="['/horses']">Explore
            our horse collection</button>
    </div>
</div>

<div class="container-fluid">

    <div class="row d-flex align-items-stretch g-0">
        <div class="flex-grow-1 flex-shrink-1 align-self-stretch header-molly col-3"></div>

        <div class="flex-fill col-6">
            <app-grid [imagesContent]="images"></app-grid>
        </div>

        <div class="flex-grow-1 flex-shrink-1 align-self-stretch header-uno col-3"></div>
    </div>

</div>