<div class="container">
    <ng-template #loading>
      <section class="text-center">
        <!-- <mdb-spinner></mdb-spinner> -->
      </section>
    </ng-template>
    <ng-container *ngIf="horse$ | async as horse; else loading">
      <section>
        <div class="row">
          <div class="col-lg-6">
            <img [src]="horse.profile" alt="thumbnail" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <!-- <small>{{horse.id}}</small> -->
            <h3 class="horse-name">{{horse.name | uppercase}}</h3>
            <div class="horse-parentage">
              {{horse.sire | uppercase}} &times; {{horse.dam | uppercase}}
            </div>
            <div>
              {{horse.year}} American Miniature {{horse.gender | titlecase}}</div>
            <div class="line-nospacing"></div>
            <div><strong>Height:</strong> {{horse.height}} inches</div>
            <div><strong>Colour:</strong> {{horse.color}}</div>
            <div><strong>Registration:</strong>
              <span *ngFor="let reg of horse.registration"> {{reg}}</span>
            </div>
            <div class="line-nospacing"></div>
            <div class="text-block" *ngFor="let text of horse.info">
              {{text}}
            </div>
            <div class="line-nospacing"></div>
            <div class="breeder"><strong>Bred by</strong>{{horse.breeder}}</div>
            <div class="owner"><strong>Owned by</strong>{{horse.owner}}</div>
          </div>
        </div>
      </section>
      <section *ngIf="contentReady">
        <h6>Gallery</h6>
        <div class="line-nospacing"></div>
        <app-grid *ngIf="contentImages.length > 0; else noImages" [imagesContent]="contentImages" [colWidth]="3"></app-grid>
        <ng-template #noImages></ng-template>
      </section>
      <section>
        <h6>Accolades</h6>
        <div class="line-nospacing"></div>
        <app-horse-results *ngIf="horse.id" [horseId]=horse.id></app-horse-results>
      </section>
      <section>
        <h6>Pedigree</h6>
        <div class="line-nospacing"></div>
        <div class="table-responsive" *ngIf="horse.pedigree; else noPedigree">
          <table class="table table-borderless table-sm text-center">
            <tbody>
              <tr>
                <td rowspan="8">
                  <div>{{horse.name | uppercase}}</div>
                </td>
                <td rowspan="4">
                  <div>{{horse.pedigree.sire | uppercase}}</div>
                </td>
                <td rowspan="2">
                  <div>{{horse.pedigree.gsiretop | uppercase}}</div>
                </td>
                <td>
                  <div>{{horse.pedigree.gsiretopsire | uppercase}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>{{horse.pedigree.gsiretopdam | uppercase}}</div>
                </td>
              </tr>
    
              <tr>
                <td rowspan="2">
                  <div>{{horse.pedigree.gdamtop | uppercase}}</div>
                </td>
                <td>
                  <div>{{horse.pedigree.gdamtopsire | uppercase}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>{{horse.pedigree.gdamtopdam | uppercase}}</div>
                </td>
              </tr>
    
              <tr>
                <td rowspan="4">
                  <div>{{horse.pedigree.dam | uppercase}}</div>
                </td>
                <td rowspan="2">
                  <div>{{horse.pedigree.gsirebtm | uppercase}}</div>
                </td>
                <td>
                  <div>{{horse.pedigree.gsirebtmsire | uppercase}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>{{horse.pedigree.gsirebtmbtm | uppercase}}</div>
                </td>
              </tr>
    
              <tr>
                <td rowspan="2">
                  <div>{{horse.pedigree.gdambtm | uppercase}}</div>
                </td>
                <td>
                  <div>{{horse.pedigree.gdambtmsire | uppercase}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>{{horse.pedigree.gdambtmbtm | uppercase}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noPedigree>No pedigree to display.</ng-template>
      </section>
      <section>
        <h6>Progeny</h6>
        <div class="line-nospacing"></div>
        <div *ngIf="horse.progeny?.length > 0; else noProgeny" class="row">
          <div class="col-3 p-2" *ngFor="let item of horse.progeny" >
            <app-horse-link [horseId]="item.id"></app-horse-link>
          </div>
        </div>
        <ng-template #noProgeny><p>No foals to display.</p></ng-template>
      </section>
      <section *ngIf="horse.family && horse.family.length > 0">
        <h6>Family Mares</h6>
        <div class="line-nospacing"></div>
        <!-- <app-horse-family-collection *ngIf="horse.id" [familyList]=horse.family></app-horse-family-collection> -->
      </section>
    </ng-container>
  </div>