.table-responsive {

    tr:first-child {
        td:first-child {
            color: #231942;
            font-weight: bold;
        }
    } 

    td {
        vertical-align: middle;
        font-size: 1em;
    }
}