<form *ngIf="loaded" [formGroup]="form" (ngSubmit)="SaveForm()">
    <div class="row">
        <div class="col">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="idInput">ID</span>
                    <input type="text" class="form-control" aria-describedby="idInput" formControlName="FormId">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="nameInput">Name</span>
                    <input type="text" class="form-control" aria-describedby="nameInput" formControlName="FormName">
                </div>
            </div>

            <!-- Added: dropdown to pick existing horse to copy pedigree from (visible when adding) -->
            <div *ngIf="input?.Type === ActionType.Add" class="col">
                <label class="form-label">Copy pedigree from existing horse</label>
                <div class="input-group mb-3">
                    <select #pedSelect class="form-select" (change)="CopyPedigreeFrom(pedSelect.value)">
                        <option value="">-- select horse --</option>
                        <option *ngFor="let h of allHorses" [value]="h.Id">{{h.Id}} - {{h.Name}}</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button" (click)="CopyPedigreeFrom('')">Clear</button>
                </div>
                <div *ngIf="copiedPedigree">
                    <small class="text-muted">Pedigree copied and will be saved with this horse.</small>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="genderInput">Gender</span>
                        <input type="text" class="form-control" aria-describedby="genderInput"
                            formControlName="FormGender">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="yearInput">Year</span>
                        <input type="number" class="form-control" aria-describedby="yearInput"
                            formControlName="FormYear">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="heightInput">Height</span>
                        <input type="number" class="form-control" aria-describedby="heightInput"
                            formControlName="FormHeight">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="colorInput">Colour</span>
                    <input type="text" class="form-control" aria-describedby="colorInput" formControlName="FormColor">
                </div>
            </div>

            <div class="row py-2">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="regCheck1" formControlName="FormCheckAMHA">
                        <label class="form-check-label" for="regCheck1">AMHA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="regCheck2" formControlName="FormCheckAMHR">
                        <label class="form-check-label" for="regCheck2">AMHR</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="regCheck3" formControlName="FormCheckASPC">
                        <label class="form-check-label" for="regCheck3">ASPC</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="regCheck4" formControlName="FormCheckBMHS">
                        <label class="form-check-label" for="regCheck4">BMHS</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="sireInput">Sire</span>
                        <input type="text" class="form-control" aria-describedby="sireInput" formControlName="FormSire">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="damInput">Dam</span>
                        <input type="text" class="form-control" aria-describedby="damInput" formControlName="FormDam">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="breederInput">Breeder</span>
                    <input type="text" class="form-control" aria-describedby="breederInput"
                        formControlName="FormBreeder">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ownerInput">Owner</span>
                    <input type="text" class="form-control" aria-describedby="ownerInput" formControlName="FormOwner">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="profileInput">Profile Img</span>
                    <input type="text" class="form-control" aria-describedby="profileInput"
                        formControlName="FormProfile">
                </div>
            </div>

            <div class="row py-2">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheck1"
                            formControlName="FormCheckFilterBreeding">
                        <label class="form-check-label" for="filterCheck1">Breeding</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheck2"
                            formControlName="FormCheckFilterStallion">
                        <label class="form-check-label" for="filterCheck2">Stallion</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheckShowing" formControlName="FormCheckFilterShowing">
                        <label class="form-check-label" for="filterCheckShowing">Showing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheck3"
                            formControlName="FormCheckFilterMare">
                        <label class="form-check-label" for="filterCheck3">Mare</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheck4"
                            formControlName="FormCheckFilterFoal">
                        <label class="form-check-label" for="filterCheck4">Foal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filterCheck5"
                            formControlName="FormCheckFilterReference">
                        <label class="form-check-label" for="filterCheck5">Reference</label>
                    </div>
                </div>
            </div>

            <!-- Available / Sold flags -->
            <div class="row py-2">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="availableCheck" formControlName="FormAvailable">
                        <label class="form-check-label" for="availableCheck">Available</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="soldCheck" formControlName="FormSold">
                        <label class="form-check-label" for="soldCheck">Sold</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end pb-2">
                <div class="btn-group">
                    <button class="btn btn-light btn-sm" type="button" (click)="AddInfoItem()">Add info
                        block <i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
            <app-textarea *ngFor="let item of infoList" [item]="item" (changes)="InfoChanges($event)">
            </app-textarea>

        </div>
        <div class="col-4">

            <app-image-upload [imageUrl]="FormProfile" (changes)="UpdateProfile($event)"></app-image-upload>

            <app-list-group [title]="'Families'" [items]="familyList" [source]="familyCollection"
                (changes)="UpdateFamilyList($event)">
            </app-list-group>

        </div>
    </div>

    <div class="d-flex justify-content-between pb-2">
        <button type="submit" class="btn btn-form" [disabled]="form.invalid">Save</button>
        <p (click)="DeleteHorse()">Delete</p>
        </div>
    

</form>