<app-page-nav [activeLink]="activeLink" [title]="title" [routesToShow]="routesToShow"></app-page-nav>

<div class="container">
    <h3>Turra Lodge Farm Pygmy Goats</h3>
    <div class="line-nospacing"></div>
    <p>
      Pygmy Goats were the beginning of Turra Lodge Farm. We specialize in breeding conformationally correct goats suited
      to show-ring competition, in a variety of colour and patterns. Over the past decade TLF has carefully developed our
      distinct type of pygmy goat, a type that has become appreciated by many of Ireland's Pygmy Goat breeders. As a
      result, TLF Pygmy Goats and their descendants can be found throughout the pedigrees of many Irish Pygmy Goat farms
      today.
    </p>
    <p>Browse through our galleries and explore the TLF Pygmy Goat herd, including its herd sires , breeding does and new
      kids. Don't forget to visit our Facebook page, <strong><a class="teal-text" href="https://www.facebook.com/turralodgefarm/">@turralodgefarm.</a></strong> Where you can keep up to date with new arrivals and
      the latest sales opportunities.
    </p>
    <p>
      Occasionally we have Pygmy Goats available for purchase. So, whether you're looking for a new herd sire, potential
      breeding female or an intriguing family pet, we usually have something to suit all requirements and budgets. Call or
      write today to learn about sales opportunities or if you require further information about our Pygmy Goats.
    </p>
    <div class="row">
      <app-grid [imagesContent]="images"></app-grid>
    </div>
  </div>