span {
    cursor: pointer;
}

.card {
    cursor: pointer;
    border: none;

    .card-img, .card-img-bottom {
        border: none;
        border-radius: 0;
    }

    .card-img-overlay {

        text-transform: uppercase;
        background-color: #e0b1cb6b;

        div p {
            color: whitesmoke;
            font-size: .8rem;
            font-weight: bold;
            letter-spacing: 1px;            
            margin-bottom: 0;
        }

        div .subheading {
            text-align: center;
            display: block;
            color: #be95c4;
        }
    }

    .card-img-overlay:hover {
        background-color: transparent;
        transition: 1s ease;

        div {
            visibility: hidden;
        }
    }


}