span {
    cursor: pointer;
}

.card {
    cursor: pointer;
    border: none;

    .card-img, .card-img-bottom {
        border: none;
        border-radius: 0;
    }

    .card-img-wrapper {
        position: relative;
        width: 100%;
        /* 5:4 aspect ratio -> padding-top = (4/5)*100 = 80% */
        padding-top: 80%;
        overflow: hidden;
        background-color: #f5f5f5;
    }

    .card-img-wrapper img.card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* ensures cropping to fill */
        object-position: center center;
    }

    .card-img-overlay {

        text-transform: uppercase;
        background-color: #e0b1cb6b;

        div p {
            color: whitesmoke;
            font-size: .8rem;
            font-weight: bold;
            letter-spacing: 1px;            
            margin-bottom: 0;
        }

        div .subheading {
            text-align: center;
            display: block;
            color: #be95c4;
        }
    }

    .card-img-overlay:hover {
        background-color: transparent;
        transition: 1s ease;

        div {
            visibility: hidden;
        }
    }


}