<app-page-nav [activeLink]="activeLink" [title]="'Dashboard'" [routesToShow]="routesToShow"></app-page-nav>

<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Horses</h3>
        <small class="align-self-center"><i>
            <ng-container *ngIf="user$ | async as user">
                {{user.Name}}
                ({{user.Email}})
            </ng-container>
        </i></small>
    </div>
    <div class="line-nospacing"></div>

    <app-horse-list></app-horse-list>
</div>