<app-page-nav [activeLink]="activeLink" [title]="title" [routesToShow]="routesToShow"></app-page-nav>

<div class="container">
    <h3>Past Champions</h3>
    <div class="line-nospacing"></div>
    <p>
      Showing highlights for TLF-bred American miniature horses and TLF owned or trained horses from all across Ireland
      and around the world.
    </p>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fmarvel_show.jpg?alt=media&token=ff7d6563-fd85-4966-aa51-30c3c7748eb8" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>TLF Marvel</h4>
            <div class="subheading">Black Mountain Majestic Midnight &times; Exquisite Boleros Evangelista</div>
            <p class="info">2021 AMHA/AMHR Stallion</p>
            <p><b>2024 UNANIMOUS UKAMHS Regional Supreme Halter Champion</b></p>
            <p>2024 UKAMHS Regional Grand Champion Senior Stallion</p>
            <p>2024 UKAMHS Regional Champon Senior Stallion 30"-32"</p>
            <p>2023 Supreme Halter Champion</p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fmissy_show.jpg?alt=media&token=e4c639fd-0b01-43e4-825b-64140c132268" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>TLF Miss Marvel</h4>
            <div class="subheading">Black Mountain Majestic Midnight &times; Exquisite Boleros Evangelista</div>
            <p class="info">2023 AMHA/AMHR Mare</p>
            <p>2025 UKAMHS Regional Champion Amateur Junior Mare 30" & under</p>
            <p>2025 UKAMHS Regional Champion 2yr Old Mare 29"-31"</p>
            <p>2024 UKAMHS Regional Champion Amateur Junior Mare 30" & under</p>
            <p>2024 UKAMHS Regional Champion Yearling Mare 28"-30"</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/uploads%2FC69On0ymx9Qyc9MXzufq?alt=media&token=09c02b0f-688d-4dff-b7f9-2cdeccafeada" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>TLF Matisse</h4>
            <div class="subheading">Black Mountain Majestic Midnight &times; TLF Painted Affair</div>
            <p class="info">2024 AMHA/AMHR Mare</p>
            <p><b>2025 HOYS Qualified Finalist</b></p>
            <p>1st Youngstock and Champion - Great Yorkshire Show, UK</p>
            <p>1st Youngstock and Reserve Champion - Royal Three Counties, UK</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fpenny_show.jpg?alt=media&token=41ad0370-7421-4fc6-b6ea-5eb139f8a3c7" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>TLF War Paint</h4>
            <div class="subheading">JSW Beaus War Cry &times; TLF Painted Affair</div>
            <p class="info">2017 AMHA/AMHR Mare</p>
            <p>2018 AMHA European GRAND Champion Heritage</p>
            <p>2018 AMHA European GRAND Champion Amateur Heritage</p>
            <p>2019 AMHA European Champion 2 Yr Old Mare 31" - 33"</p>
            <p>2018 AMHA European Champion Yearling Mare 28" - 30"</p>
            <p>2019 AMHA European Champion AOTE Junior Mare Level 2</p>
            <p>2018 AMHA European Champion AOTE Junior Mare Level 2</p>
            <p>2019 AMHA European Champion Amateur Junior Mare Level 2</p>
            <p>2018 AMHA European Champion Amateur Junior Mare Level 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fevie_show.jpg?alt=media&token=8668f217-a4eb-422d-a182-30c519ebc71c" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>Exquisite Boleros Evangelista</h4>
            <div class="subheading">SMO Bolero De Suerte &times; RHA Captivating Silk Stockings</div>
            <p class="info">2014 AMHA/AMHR Mare</p>
            <p>2024 UKAMHS Regional Champion Produce of Dam</p>
            <p>2018 AMHA European Reserve GRAND Champion Senior Mare</p>
            <p>2018 AMHA European Reserve Champion Senior Mare 32" - 34"</p>
            <p>2018 AMHA European Champion AOTE Senior Mare Level 2</p>
            <p>2018 AMHA European Champion Amateur Senior Mare Level 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Falex_show.jpg?alt=media&token=1fde713b-0edd-4797-90e0-ff3fda9f4bf0" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>Pecan Grove Boleros Alessandra</h4>
            <div class="subheading">SMO Bolero De Suerte &times; ERL Cuttys Berry Blitz</div>
            <p class="info">2018 AMHA/AMHR Mare</p>
            <p>2018 AMHA Reserve WORLD Champion Weanling Mare</p>
            <p>2019 AMHA European Reserve Champion Yearling Mare 28" - 30"</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fbatman_show.jpg?alt=media&token=9bcc92e1-96d1-4994-87cf-0e975ece6b99" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>Exquisite Dazzles Batshuayi</h4>
            <div class="subheading">Flagstone Farm B Dazzled &times; Caldwells Looking For Love</div>
            <p class="info">2016 AMHA/AMHR Stallion</p>
            <p>2019 AMHA European Reserve GRAND Champion Senior Stallion</p>
            <p>2019 AMHA European Champion Senior Stallion 30" - 32"</p>
            <p>2019 AMHA European Champion AOTE Senior Stallion Level 2</p>
            <p>2019 AMHA European Champion Amateur Senior Stallion Level 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fmyt_show.jpg?alt=media&token=2617b11e-eaf6-426e-ad95-ab8051ecbbdd" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>TLF My T Affair</h4>
            <div class="subheading">Donabi UK Uno Romantic Affair &times; My T Hot Ta Molly</div>
            <p class="info">2015 AMHA Stallion</p>
            <p>2016 AMHA European Top 5 Champion Yearling Stallion 30" - 32"</p>
            <p>2016 AMHA European Reserve Champion AOTE Junior Stallion Level 2</p>
            <p>2016 AMHA European Reserve Champion Amateur Junior Stallion Level 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3 split-card">
    <div class="row">
      <div class="col">
        <div class="card flex-container">
          <div class="card-body card-body-image col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/project-64c2c.appspot.com/o/show%2Fluther_show.jpg?alt=media&token=eb0ea6bb-01ae-4e5c-bc60-9ae64b4c0533" class="img-fluid" alt="Responsive image">
          </div>
          <div class="card-body align-self-center text-center col-lg-6">
            <h4>Caluka UK Hearts Echo</h4>
            <div class="subheading">Windhaven Little Heartbreaker &times; Darkmoon Orions Shez Dynamite</div>
            <p class="info">2012 AMHA Stallion</p>
            <p>2016 AMHA European Champion Senior Stallion 28" - 30"</p>
            <p>2016 AMHA European Champion AOTE Senior Stallion Level 2</p>
            <p>2016 AMHA European Champion Amateur Senior Stallion Level 2</p>
            <p>2016 AMHA European Champion Multi-Color Stallions & Geldings</p>
          </div>
        </div>
      </div>
    </div>
  </div>
