<app-page-nav [activeLink]="activeLink" [title]="title" [routesToShow]="routesToShow"></app-page-nav>

<div class="container">
  <h3>Our Farm</h3>
  <div class="line-nospacing"></div>
  <p>
    Turra Lodge Farm is a family owned and operated American miniature horse breeding program
    located in the south east of Ireland.
    The Kelly Family have owned and bred miniature horses since 2005. The farm is home to a small
    group of AMHA registered miniature horses, some of which are also registered with the AMHR or
    the BMHS. Each Spring
    brings the arrival of new foals. Our hope is that these individuals will become successful
    halter horses before
    contributing to our breeding program. Since the farm's inception we have enjoyed presenting our
    horses in Ireland, the United
    Kingdom and Europe.
  </p>
  <p>
    Our aim at TLF is to breed beautiful American Miniature Horses with the most perfect
    conformation, attitude and athleticism for the showring, and we could not have found a more
    pleasurable pastime. We have carefully
    established a small herd of American Miniature Horses possessing extreme type, refinement and
    movement. All of our
    miniature horses are registered with the American Miniature Horse Association (AMHA) or the
    American Miniature Horse Registry
    (AMHR), and incorporate into our breeding program some ​of the finest lineage in the miniature
    horse industry. We invite
    you to browse through our website and please feel free to contact us if you would like further
    information on any of
    our American miniature horses.
  </p>
  <p>Showing is the farm's main activity. During the summer we enjoy presenting our horses at AMHA/AMR
    and ASPC sanctioned shows throughout Europe.
    We love to show horses we have bred so each year we will breed a small group of foals. It is our
    hope that these individuals will become
    accomplished halter horses before contributing to the gene pool.
    The focus of our breeding program is to breed beautiful and true to type American Miniature
    Horses. Halter competitions are where we can assess
    the quality of our breeding program so we aim to breed horses that are competitive at an
    international level.
  </p>
  <p>Occasionally we do offer some horses for sale. As we continue to breed toward the next generation
    unfortunately we cannot
    keep them all. From time to time a broodmare, stallion or young colt/gelding will come up for
    sale. Please contact us with any questions,
    we are happy to help you learn about the American mininature horse.
  </p>

  <div class="row">
    <div class="col">
      <app-grid [imagesContent]="images" type="margin"></app-grid>
    </div>
  </div>
</div>